* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #E9F8EB;
    height: 1000vh;
    display: flex;
    flex-direction: column;
}

nav {
    position: absolute;
    display: flex;
    min-height: 8vh;
    left: 12.5%;
    width: 75%;
    background-color: white;
    align-items: center;
    box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.logo img {
    height: 7vh;
    margin-left: 2%;
}

.icons {
    width: 80%;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
}

.icons i {
    margin-left: 2%;
    margin-right: 1%;
    text-transform: capitalize;
    font-weight: 900;
    font-size: 1.5rem;
}

.lang {
    margin-left: -10%;
    border: 2px solid green;
    border-radius: 5%;
}

.login {
    margin-left: 5%;
}

.header.active {
    padding: 2rem 9%;
}

.login-form-container {
    position: fixed;
    top: -105%;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, .9);
    z-index: 10000;
    text-transform: capitalize;
}

.login-form-container.active {
    top: 0;
}

.login-form-container form {
    margin: 2rem;
    text-align: center;
    padding: 2rem;
    width: 40rem;
    border-radius: .5rem;
    border: 2px solid black;
    background: #fff;
}

.login-form-container form .buttons {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.login-form-container form .btn {
    display: block;
    width: 100%;
    margin: .5rem 0;
}

.login-form-container form .box {
    margin: .7rem 0;
    width: 100%;
    font-size: 1.6rem;
    color: black;
    text-transform: none;
    border: 2px solid black;
    padding: 1rem 1.2rem;
    border-radius: .5rem;
}

.login-form-container form p {
    padding: 1rem 0;
    font-size: 1.5rem;
    color: black;
}

.login-form-container form p a {
    text-decoration: underline;
}

.login-form-container form h3 {
    padding-bottom: 1rem;
    font-size: 2.5rem;
    color: black;
    text-transform: uppercase;
}

.login-form-container #close-login-form {
    position: absolute;
    top: 1.5rem;
    right: 2.5rem;
    font-size: 5rem;
    color: black;
    cursor: pointer;
}

.btn {
    height: 5vh;
    background-color: #008000;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
}

/* Swiper cards */

#body {
    position: relative;
    margin-top: 2%;
    left: 12.5%;
    height: 450px;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    width: 100%;
    height: 4vh;
    display: flex;
    color: white;
    background-color: #008000;
}

.header h3 {
    position: absolute;
    left: 2%;
}

.header input,
button {
    height: 3vh;
    position: absolute;
    right: 2%;
    margin: .5% 0 1% 0;
    border: 2px solid black;
}

.header input {
    width: 15vw;
}

.header button {
    width: 3vw;
}

.swiper {
    width: 100%;
    height: 50vh;
}

.card {
    position: relative;
    background: #fff;
    height: 45vh;
    width: 100%;
    margin: 20px 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.card::before {
    content: "";
    position: relative;
    height: 40vh;
    width: 100%;
    background: white;
    border-radius: 20px 20px 0 0;
}

.card .card-content {
    align-items: center;
    position: relative;
}

.card .card-content .content {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: lightgreen;
    font-size: 1.3rem;
    padding: 1%;
}

#body .card .image {
    height: 50vh;
    width: 37.5vw;
}

#body .card .image img {
    height: 100%;
    width: 100%;
}

.swiper-pagination {
    position: absolute;
    bottom: 1%;
}

.swiper-pagination-bullet {
    height: 10px;
    width: 30px;
    border-radius: 25px;
    border: 2px solid black;
    background: white;
}

.swiper-button-next,
.swiper-button-prev {
    opacity: 1;
    color: white;
    transition: all 0.3s ease;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    opacity: 1;
    color: black;
}

.categories {
    position: relative;
    margin-top: 5%;
    text-align: center;
    width: 100%;
    height: 20vh;
    padding: 0 10vw;
    background-color: white;
    margin-bottom: 2%;
    text-align: justify;
}

.categories .head {
    font-size: 1.3rem;
    text-decoration: underline;
    font-weight: bolder;
}

.categories .list {
    display: inline-block;
    font-size: 1.1rem;
    width: 80%;
    margin: 2% 10%;
}

.footer {
    position: relative;
    bottom: 2%;
    left: 12.5%;
    height: 35vh;
    margin-top: 1%;
    background-color: #008000;
    color: white;
    width: 75%;
    display: flex;
    padding: 1%;
    font-size: 1.3rem;
    gap: 5rem;
}

.desc {
    width: 50vw;
}

ul {
    margin-top: 3vh;
}

li {
    list-style-type: none;
    margin-bottom: 2%;
    display: flex;
    align-items: center;
}

li i {
    margin-right: 2%;
}

.creds {
    position: absolute;
    bottom: 1%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
}